################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gradebook/src/GradeBook/bin/Debug/netcoreapp3.1
